* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.grid-container {
    width: 70rem;
    height: 70rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.controls {
    display: flex;
    align-items: center;
}

.controls h4 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.controls-container {
    text-align: center;
    padding: 2rem;
    border: 2px solid green;
}

.grid-size {
    
}

.apply {
    
}

.square {
    border: 2px solid black;
    padding: 10px;
}

.square.active {
    background-color: black;
}